.box {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 47%;
}
.login-card {
    background-color: #F5F5F5;
}
.login-head {
    font-size: 25px;
}
.login-card {
    height: 100%;
}
.full-width {
    width: 100%;
}
.login-img {
    margin-left: 30%;
    width: 8%;
}
.login-icon {
    font-size: 100px;
}

