<div style="display:flex; flex-direction:row;" cdkDropListGroup>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>To do</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="display: flex; flex-direction: column;" class="list" cdkDropList [cdkDropListData]="todo" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of todo" cdkDrag>
                    <mat-card class="sub-card">
                            <span>{{item}}</span>
                        <mat-card-actions class="sub-actions">
                            <button style="border: none;background-color: white;float: right;" (click)=delete(item) id="delete"><mat-icon class="button">delete</mat-icon></button>
                            <button style="border: none;background-color: white;float: right;" (click)="edit(item)" id="edit"><mat-icon class="button">create</mat-icon></button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="main-action">
            <button mat-button class="add-task" (click)="OnCreate()" id="add-task"> + Add Task</button>
        </mat-card-actions>
    </mat-card>
    <span class="space"></span>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Doing</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="display: flex; flex-direction: column;" class="list" cdkDropList [cdkDropListData]="doing" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of doing" cdkDrag>
                    <mat-card class="sub-card">
                            <span>{{item}}</span>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <span class="space"></span>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Q&A Review</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="display: flex; flex-direction: column;" class="list" cdkDropList [cdkDropListData]="qa" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of qa" cdkDrag>
                    <mat-card class="sub-card">
                            <span>{{item}}</span>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <span class="space"></span>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Done</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="display: flex; flex-direction: column;" class="list" cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of done" cdkDrag>
                    <mat-card class="sub-card">
                            <span>{{item}}</span>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>